/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {

  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  gap: 100px;
  font-family: var(--body-text-font, sans-serif);
  font-size: var(--body-font-size, 18px);
  font-variation-settings: 'wght' var(--body-font-weight);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-size: cover;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header, .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: max(376px, 48.5vw);
  padding-block-end: 22px;
  font-family: var(--accent-font, fantasy);
  background-color: var(--bg-color, white);
  border: 2px solid var(--accent-color, black);
}

.main_heading {
  margin: 0;
  padding: 0;
  padding-block-start: 2.1em;
  font-size: clamp(49px, 5vw, 65px);
  min-inline-size: 343px;
  margin-block-end: 20px;
}

.subhead {
  font-size: clamp(14px, 3vw, 23px);
  text-transform: uppercase;
  margin-block-end: 20px;

}

.save-button,
.card__icon-button,
.theme-menu__button,
.card__like-button,
.modal-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button:focus,
.like-icon:focus,
.card__like-button:focus,
.card__icon-button:focus,
.save-button:focus,
.modal-button:focus {
  outline: none;
}

/* _______переключатели тем_______ */

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding-inline-start: 15px;
}


.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-color);
  transition: color 0.3s;
}

.theme-menu__button:hover,
.theme-menu__button:disabled,
.theme-menu__button:focus {
  color: var(--accent-transparent);
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button::after {
    content: '';
    display: block;
    height: 2px;
    padding-top: 1px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: inline;
  position: absolute;
  left: 0px;
  animation: arrow 0.5s infinite ease-in-out alternate;

}

@keyframes arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

/* _______карточки_______ */

.card {
  position: relative;
  font-family: var(--body-text-font);
}

.card_heading {
  font-variation-settings: 'wght' var(--card-heading-font-weight);
  padding: 5px 10px;
  align-self: flex-start;
  font-size: var(--body-font-size);
}

.img_wrap {
  display: flex;
  border-style: solid;
  border-color: var(--accent-font);
  border-width: 2px 0px 2px 0px;
}

.sepia {
  filter: sepia(30%);
}

.contrast {
  filter: contrast(120%);
}

.brightness {
  filter: brightness(130%);
}

.invert {
  filter: invert(100%);
}

.saturate {
  filter: saturate(150%);
}

.blur {
  filter: blur(2px);
}

.multi {
  filter: brightness(120%) saturate(60%) hue-rotate(120deg);
}

.image {
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.text {
  padding: 25px;
  margin-top: 5px;
  line-height: 21px;
}

p:first-child {
  padding-block-end: 27px;
}

/* _______лейбл_______ */

.label {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  padding: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: var(--text-shadow);
  z-index: 1;
}

@supports((text-stroke: 1px var(--bg-color, white)) 
or (-webkit-text-stroke: 1px var(--bg-color, white))) {
  .label {
  -webkit-text-stroke: 1px var(--bg-color, white);
  text-stroke: 1px var(--bg-color, white);
  text-shadow: none;
  }

}
 
/* _______кнопки_______ */

.like-wrapper {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 5px;
  padding-inline-end: 25px;
  block-size: 38px;

}

/* иконки */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 2px solid transparent;
  transition: 0.3s ease;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}   

.floppy {
  z-index: 1;
  transition: color 1s ease;
  inline-size: 25px;
  block-size: 25px;
  color: var(--button-color);
  mix-blend-mode: difference;
}





/* кнопки */

.card__like-button,
.save-button,
.modal-button {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  gap: 8px;
  transition: box-shadow 0.3s;

}

.card__like-button {
  min-inline-size: 130px;
  block-size: 38px;
}

.save-button {
  padding: 14px 16px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font, fantasy);
  font-size: var(--button-text-size);
  z-index: 1;
  width: 100%;
  transition: color 1s ease;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.save-button:hover,
.card__like-button:hover,
.modal-button:hover {
  color: var(--bg-color);
}

.save-button:focus-visible,
.card__like-button:focus-visible,
.modal-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.save-button::after,
.card__like-button::after,
.modal-button::after {
  position: absolute;
  inset: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.save-button:hover::after,
.card__like-button:hover::after,
.modal-button:hover::after {
  transform: scaleX(1);
}


/* _____сердце анимация_____ */

.sparks {
 opacity: 0;
}

.core {
  fill: var(--bg-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s linear;
}

.main-body {
  fill: var(--bg-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.3s;
}

.contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill 0.3s 0.06s linear;
}

.heart {
  transform: scale(1);
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in alternate;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s 0.3s ease-in alternate;
}

@keyframes sparkle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* _____модалка_____ */

.dialog:not[open] {
  opacity: 0;
  pointer-events: none;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  inline-size: 355px;
  padding: 28px;
  gap: 30px;
  margin: auto;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__text {
  font-family: var(--accent-font, fantasy);
  font-size: var(--button-text-size);
  width: 100%;
  text-transform: uppercase;
  line-height: 150%;
  color: var(--accent-color);
}

.modal-button {
  padding: 10px;
  inline-size: 100%;
}

.floppy-modal {
  inline-size: 50px;
  block-size: 50px;
  color: var(--accent-color);
}


@media (width <= 375px) {

  .header, 
  .card {
    inline-size: 100%;
  }

  .main_heading {
    padding-block-start: 2.45em;
  }


  .save-button {
    flex-direction: column;
    padding: 14px 20px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .label {
    padding: 25px 11px;
  }

  dialog[open] {
    max-inline-size: 341px;
    padding: 30px 40px;
  }

}


