/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --body-text-font: "Inter-Variable";
    --accent-font: "PressStart2P";

    --body-font-size: 18px;
    --body-font-weight: 400;

    --card-heading-font-weight: 700;


    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --accent-transparent: rgba(0, 0, 0, 0.6); 

    --heart-contour:#000000;
    --heart-fill: #FF0000;

    --bg-image: url(../svg/pattern-light.svg);

}